<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/">
      <span class="align-middle">Comma</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">Pages</li>

      <li class="sidebar-item active">
        <a class="sidebar-link" href="/dashboard">
          <i class="align-middle" data-feather="sliders"></i>
          <span class="align-middle">Dashboard</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/learners">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">Learners</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/admins">
          <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">admins</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/courses">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">Courses</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/application">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">application</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
