<div class="col-md-6 col-xxl-6 d-flex order-2 order-xxl-4">
  <div class="card flex-fill w-100">
    <div class="px-4 pt-3">
      <h5 class="card-title mb-0">Enrolled/Finished Courses Comparison</h5>
    </div>
    <div class="px-4 d-flex">
      <div class="align-self-center w-100">
        <div class="py-3">
          <div class="chart chart-xs">
            <canvas id="enrolled-finished"></canvas>
            <div class="px-1 py-2 d-flex justify-content-between">
              <h5 class="green">Very Good</h5>
              <h5 class="">Ok</h5>
              <h5 class="red">Really Bad</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const dualLineElement = document.getElementById('enrolled-finished')
  const enrolledFinishedCoursesData = <%- analytics.enrolledFinishedCourses %>;;
  (async () => {
    new Chart(dualLineElement, {
      type: 'line',
      data: {
        labels: enrolledFinishedCoursesData.map((course) => course.title),
        datasets: [{
            label: 'Enrolled',
            data: enrolledFinishedCoursesData.map((course) => course.enrolled),
          },
          {
            label: 'Finished',
            data: enrolledFinishedCoursesData.map((course) => course.finished)
          },
        ]
      }
    })
  })()
</script>