<div class="col-3">
  <div class="card  mb-3 stylecard">
    <div class="card-body text-primary">
      <h5 class="card-title">Number Of Courses</h5>
      <p class="card-text h4 pt-4 text-secondary"> <%=analytics.NoOfCourses%></p>
    </div>
  </div>
  <div class="card  mb-3 stylecard">
    <div class="card-body text-secondary">
      <h5 class="card-title ">Number Of Learners </h5>
      <p class="card-text h4 pt-4 text-secondary"><%=analytics.NoOflearner%></p>
    </div>
  </div>
</div>
<div class="col-3">
  <div class="card  mb-3 stylecard">
    <div class="card-body text-primary">
      <h5 class="card-title">Number Of viewers </h5>
      <p class="card-text h4 pt-4 text-secondary"> <%=analytics.Noofviewers%> </p>
    </div>
  </div>
  <div class="card  mb-3 stylecard">
    <div class="card-body text-secondary">
      <h5 class="card-title">Total Enrolled Users </h5>
      <p class="card-text h4 pt-4 text-secondary"><%=analytics.TotalEnrolledUserCount%></p>
    </div>
  </div>
</div>