<h1> Whoops! Something went wrong</h1>
<p> <%=error%> </p>
<a class="btn btn-outline-white" href="/login" >Log in</a>
<a class="btn btn-outline-white" href="/" >Home</a>

<img src="https://cdn-icons-png.flaticon.com/512/4963/4963030.png">
<style>
    body {
  display: inline-block;
  background: #00AFF9 ;
  height: 100vh;
  margin: 0;
  color: white;
}
a{
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}
h1 {
  margin: .13em 10rem;
  font: 4em Roboto;
}
p {
  display: inline-block;
  margin: .13em 10rem;
  font: 2em Roboto;
}
</style>